<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spevnik</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/img/bible.png">

    <script src="/js/min/jquery-3.7.1.min.js"></script>
</head>