<%- include('partials/head') %>

<body>
    <div class="view-container">
        <div class="nav">
            <a href="/presentation" class="presentation-link">
                Prezentácia
            </a>
            <a href="/settings">Nastavenia</a>
        </div>
        <h1>🎵 Ovládanie piesní</h1>
        <label>Hľadať podľa názvu alebo čísla</label>
        <input type="text" id="hladat" placeholder="napr. Kristus alebo 123" oninput="filtrovatPiesne()">
        
        <label>Pieseň</label>
        <select id="song-select" onchange="updateStrofy()"></select>
        
        <label>Strofa</label>
        <select id="strofa-select"></select>
        <div class="button-grid">
            <div class="button-row">
                <button onclick="zobraz()" style="background-color: green;">Zobraziť</button>
                <button onclick="zobrazId()" style="background-color: blue;">Náhlad</button>
            </div>
            <div class="button-row">
                <button onclick="skry()" style="background-color: red;">Skryť</button>
            </div>
            <div class="button-row">
                <button onclick="predchadzajuca()">⬅ Predchádzajúca strofa</button>
                <button onclick="dalsia()">Ďalšia strofa ➡</button>
            </div>
        </div>
    </div>

    <script>
        var piesne;
        var piesne_array;

        function setView(skryta = null, showingName = null) {
            var currentPiesenId = $('#song-select').val();
            var currentIndex = $('#strofa-select').val();

            var data = {
                piesenId: currentPiesenId,
                strofaIndex: currentIndex
            }

            if (skryta !== null) {
                data.skryta = skryta;
            }

            if (showingName !== null) {
                data.showingName = showingName;
            }

            $.ajax({
                url: '/set-view',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    console.log('Stav aktualizovaný:', response);
                },
                error: function(xhr, status, error) {
                    console.error('Chyba pri aktualizácii stavu:', error);
                }
            });
        }

        function zobrazId(){
            setView(null, true);
        }

        function zobraz() {
            setView(false, true);
        }

        function skry() {
            setView(true, false);
        }

        function dalsia() {
            var select = $('#strofa-select');
            var currentPiesenId = $('#song-select').val();
            var currentIndex = select.prop('selectedIndex');
            if (currentIndex < select.children().length - 1) {
                select.prop('selectedIndex', currentIndex + 1);
            }
            setView();
        }

        function predchadzajuca() {
            var select = $('#strofa-select');
            var currentPiesenId = $('#song-select').val();
            var currentIndex = select.prop('selectedIndex');
            if (currentIndex > 0) {
                select.prop('selectedIndex', currentIndex - 1);
            }
            setView();
        }

        function updateStrofy() {
            var select = $('#song-select');
            var selectedId = select.val();
            var strofaSelect = $('#strofa-select');
            strofaSelect.empty(); // Vymaže existujúce možnosti

            if (selectedId) {
                var selectedPiesen = piesne[selectedId];

                if (selectedPiesen && selectedPiesen.strofy) {
                    selectedPiesen.strofy.forEach(function(strofa, index) {
                        var option = $('<option></option>');
                        option.val(index);
                        option.text(`${index + 1}: ${strofa}`);
                        strofaSelect.append(option);
                    });

                    if (strofaSelect.children().length > 0) {
                        strofaSelect.val(0); // Predvolená hodnota prvej strofky
                    }
                }
            }
        }

        function filtrovatPiesne() {
            var filter = $('#hladat').val().toLowerCase();
            var filteredPiesne = piesne_array.filter(function(piesen) {
                return piesen.nazov.toLowerCase().includes(filter) || piesen.id.toString().includes(filter);
            });
            naplnPiesne(filteredPiesne);
        }

        function naplnPiesne(piesne) { //piesne je list
            var select = $('#song-select');
            select.empty(); // Vymaže existujúce možnosti

            piesne.forEach(function(piesen) {
                var option = $('<option></option>');
                option.val(piesen.id);
                option.text(`${piesen.nazov} (${piesen.id})`);
                select.append(option);
            });

            if (piesne.length == 1) {
                select.val(piesne[0].id);
            }

            updateStrofy(); // Aktualizuje stĺpec so strofami
        }

        $(function() {
            $.ajax({
                url: '/piesne.json',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    piesne = data;
                    piesne_array = Object.values(piesne)
                    console.log('Piesne načítané:', piesne);
                    naplnPiesne(piesne_array);
                },
                error: function(xhr, status, error) {
                    console.error('Chyba pri načítaní piesní:', error);
                }
            });

        });
    </script>
</body>