<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spevnik</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/img/bible.png">

    <script src="/js/min/jquery-3.7.1.min.js"></script>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<body style="overflow: hidden;">

    <div id="nazov" style="display: none"></div>
    <div class="view-container">
        <div class="help-div">
            <div id="text"></div>
        </div>
    </div>


  <script>
    var STATE = {
        piesen: {
            id: 0,
            name: '',
            strofa: '',
        },
        skryta: true,
        showingName: false,
    }

    function isOverflowing(el) {
        var curOverflow = el.style.overflow;

        if ( !curOverflow || curOverflow === "visible" )
            el.style.overflow = "hidden";

        var isOverflowing = el.clientWidth < el.scrollWidth 
            || el.clientHeight < el.scrollHeight;

        el.style.overflow = curOverflow;

        return isOverflowing;
    }

    function fitText(element){
        const MAX_FONTSIZE = 10;
        const UNIT = 'vw'
        var size = MAX_FONTSIZE;
        element.css('font-size', `${size}${UNIT}`);

        while(isOverflowing(element[0])) {
            size-= 0.5;
            element.css('font-size', `${size}${UNIT}`);
        }
    }

    function updateView() {
        var textElement = $('#text');
        var nazovElement = $('#nazov');
        nazovElement.empty();
        nazovElement.hide();
        textElement.empty();
        if(STATE.showingName){
            nazovElement.text(`${STATE.piesen.id} - ${STATE.piesen.name}`);
            nazovElement.show();
        }
        if (STATE.skryta) return;
        
        
        var strofa = STATE.piesen.strofa;
        textElement.text(strofa);
        
        fitText(textElement);
    }

    function setEventSource() {
        const source = new EventSource('/events');
        source.onmessage = (e) => {
            STATE = JSON.parse(e.data);
            updateView();
            console.log('Update received:', STATE);
        };
    }

    $(function() {
        setEventSource();
    });


  </script>
</body>
</html>