<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spevnik</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/img/bible.png">

    <script src="/js/min/jquery-3.7.1.min.js"></script>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<body style="overflow: hidden;">

    <div id="nazov" style="display: none"></div>
    <div class="view-container">
        <div class="help-div">
            <div id="text"></div>
        </div>
    </div>


  <script>
    
    const BIG_TEXT_CAP = 110;
    var piesne = [];
    var STATE = {
        piesenId: 1,
        strofaIndex: 0,
        skryta: true
    };

    function isOverflowing(el) {
        var curOverflow = el.style.overflow;

        if ( !curOverflow || curOverflow === "visible" )
            el.style.overflow = "hidden";

        var isOverflowing = el.clientWidth < el.scrollWidth 
            || el.clientHeight < el.scrollHeight;

        el.style.overflow = curOverflow;

        return isOverflowing;
    }

    function fitText(element){
        const MAX_FONTSIZE = 10;
        const UNIT = 'vw'
        var size = MAX_FONTSIZE;
        element.css('font-size', `${size}${UNIT}`);

        while(isOverflowing(element[0])) {
            size-= 0.5;
            element.css('font-size', `${size}${UNIT}`);
        }
    }

    function updateView() {
        var textElement = $('#text');
        var nazovElement = $('#nazov');
        nazovElement.empty();
        nazovElement.hide();
        textElement.empty();
        if (STATE.skryta) return;
        
        nazovElement.text(`${STATE.piesenId} - ${piesne[STATE.piesenId].nazov}`);
        nazovElement.show();
        var piesen = piesne[STATE.piesenId];
        var strofa = piesen.strofy[STATE.strofaIndex];
        
        textElement.text(strofa);
        
        fitText(textElement);
    }

    function loadData() {
        $.ajax({
            url: '/get-view',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                if (STATE.piesenId == data.piesenId &&
                    STATE.strofaIndex == data.strofaIndex &&
                    STATE.skryta == data.skryta) {
                    console.log('Stav sa nezmenil, neaktualizujem zobrazenie.');
                    return;
                }
                STATE = data;
                console.log('Stav načítaný:', STATE);
                updateView();
            },
            error: function(xhr, status, error) {
                console.error('Chyba pri načítaní stavu:', error);
            }
        });
    }
    var fittiee;
    $(function() {
        $.ajax({
            url: '/piesne_view.json',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                piesne = data;
                console.log('Piesne načítané:', piesne);
                updateView();
                loadData();
            },
            error: function(xhr, status, error) {
                console.error('Chyba pri načítaní piesní:', error);
            }
        });


        setInterval(loadData, 500);
    });


  </script>
</body>
</html>